{%extends "layout.html"%}

{% block content %}
<div class="wrap">
<div id="reserve">
  <h1>{{legend}}</h1>
   <form  name="meeting-form" id="meeting-form" method="POST" autocomplete="off" action="" onsubmit="return validateForm()">
    {{ form.hidden_tag() }}
   <!-- <div class="field-wrap">
       <label class="req">
        Meeting room
      </label>
      <input type="text" required autocomplete="off" name="meeting-room"> -->

      <!-- {{form.room.label(class="req")}}
      
      {#{% if form.room.errors %}
        {{form.room(class="validate invalid")}}
            {% for  error in form.room.errors %}
            <span class="helper-text"  data-error="{{error}}"></span>
            {% endfor %}

        {% else %}
        {{form.room(class="validate",minlength="2",maxlength="20")}}
        <span class="helper-text"  data-error="Field must be between 2 and 20 characters long."></span>
      {% endif %}   #}    
    </div> -->


    <div class="field-wrap">
  
      {{form.meeting_title.label(class="req")}}
         {% if form.meeting_title.errors%}
           {{form.meeting_title(class="validate invalid") | safe}}
           {% for error in form.meeting_title.errors %}
             <span class="helper-text"  data-error="{{error}}"></span>
           {% endfor %}
         {% else %}
           {{form.meeting_title(class="validate")}}
           <span class="helper-text"  data-error="This field is required."></span>
         {% endif %}    
   </div>



    <div class="field-wrap select-field ">
      {{form.room.label(class="active")}}
      {% if form.room.errors %}
        {{form.room(class="input-field validate invalid", required=True)}}
        {% for error in form.room.errors %}
          <span class="helper-text"  data-error="{{error}} "></span>
        {% endfor %}
      {% else %}
          {{form.room(class="input-field validate", required=True)}}
          <span class="helper-text"  data-error="This field is required."></span>
      {% endif %}
    </div> 

    <div class="field-wrap input-field employee">
  
   {{form.employee.label(class="active")}}
      {% if form.employee.errors%}
        {{form.employee(class="input-field validate invalid", required=True)}}
        {% for error in form.employee.errors %}
          <span class="helper-text"  data-error="{{error}}"></span>
        {% endfor %}
      {% else %}
        {{form.employee(class="input-field validate", required=True)}}
        <span class="helper-text"  data-error="This field is required."></span>
      {% endif %} 

</div>


    <div class="top-row">
      <div class="field-wrap">
        <label class="req">
          Start <i class="material-icons">event</i>
        </label>
        
        {% if form.start_date.errors%}
          {{form.start_date(class="datepicker date-picker1 dDate validate invalid", id="datepickerStart", readonly=True)}}
          {% for error in form.start_date.errors %}
            <span class="helper-text"  data-error="{{error}}"></span>
          {% endfor %}
        {% else %}
        {{form.start_date(class="datepicker date-picker1 dDate", id="datepickerStart", readonly=True)}}
          <span class="helper-text"  data-error="This field is required."></span>
        {% endif %} 

      </div>      
    
      <div class="field-wrap">
        <label>
          End <i class="material-icons">event</i>
        </label>

        {% if form.end_date.errors%}
        {{form.end_date(class="datepicker date-picker2 dDate validate invalid", id="datepickerEnd", readonly=True)}}
        {% for error in form.end_date.errors %}
          <span class="helper-text"  data-error="{{error}}"></span>
        {% endfor %}
      {% else %}
        {{form.end_date(class="datepicker date-picker2 dDate", id="datepickerEnd", readonly=True)}}
        <span class="helper-text"  data-error=""></span>
      {% endif %}

      </div>
    </div>
    
    
    
    <div class="top-row">
      <div class="field-wrap">
        <label class="req">
          Start <i class="material-icons">access_time</i>
        </label>

        {% if form.start_time.errors%}
        {{form.start_time(class="timepicker dDate validate invalid", id="pickerStart", readonly=True)}}
        {% for error in form.start_time.errors %}
          <span class="helper-text"  data-error="{{error}}"></span>
        {% endfor %}
      {% else %}
      {{form.start_time(class="timepicker dDate", id="pickerStart", readonly=True)}}
        <span class="helper-text"  data-error="This field is required."></span>
      {% endif %} 
     </div>



      <div class="field-wrap ">
        <label class="picker-label req">
          End <i class="material-icons">access_time</i>
        </label>

        {% if form.end_time.errors%}
        {{form.end_time(class="timepicker dDate invalid", id="pickerEnd", readonly=True)}}
        {% for error in form.end_time.errors %}
          <span class="helper-text"  data-error="{{error}}"></span>
        {% endfor %}
      {% else %}
      {{form.end_time(class="timepicker dDate", id="pickerEnd", readonly=True)}}
        <span class="helper-text"  data-error="This field is required."></span>
      {% endif %} 

        
      </div>

    </div>        



    <!-- <div class="top-row margin-top">
      <div class="field-wrap">
        <button type ="reset"  id = "reset" class="button button-block cancel">Cancel</button>
      </div> -->

      <div class="field-wrap margin-top margin-top">
        {{form.submit(class="button button-block")}}
      </div>
    <!-- </div> -->


  </form>

</div>



<div class="fixed-button-wrapper">
  <a class="btn-floating btn-large" href="{{url_for('main.index')}}"><i class="material-icons">home</i></a>
</div>
</div>
{% endblock %}