{% extends "layout.html" %}


{% block content %}

<div class="wrap">

<div class="login_block"> 



   <div id="signin">

    <h1>Welcome Back!</h1>
     <form  method="Post" action="" autocomplete="off">
       {{ form.hidden_tag() }} 

      <div class="field-wrap">
       
        {{form.email.label(class="req")}}

        {% if form.email.errors %}
          {{form.email(class="validate invalid")}}
            {% for  error in form.email.errors %}                
                <span class="helper-text" data-error="{{error}}" ></span>
              {% endfor %}            
          {% else %}
          {{form.email(class="validate", type="email")}}
          <span class="helper-text" data-error="Invalid email address." ></span>
        {% endif %}              
      </div>

        <div class="field-wrap">
          {{form.password.label(class="req")}}
          
          {% if form.password.errors %}
            {{form.password(class="validate invalid", id="passLogin",minlength="6", maxlength="60")}}
              {% for  error in form.password.errors %}                
                  <span class="helper-text" data-error="{{error}}" ></span>
              {% endfor %}            
          {% else %}
              {{form.password(class="validate",id="passLogin",minlength="6",maxlength="60",data_length="60")}}
              <span class="helper-text" data-error="Field must be between 6 and 60 characters long." ></span>
          {% endif %}        
          
        </div>

        <div class="field-wrap">
          {{form.remember(class="styled-checkbox")}}
          {{form.remember.label(class="")}}
        </div>
      
        <div class="field-wrap add-margin">
          {{form.submit(class="button button-block")}}
          
        </div>
        
    </form>
    <div class="top-row">
      <div class="field-wrap need-account">
        <p class="small ">Need An Account? <a class="" href="{{'signup'}}">Sign Up</a></p>
      </div>
    <div class="field-wrap forgot-block">
      <p class="small "> <a class="" href="{{url_for('users.reset_request')}}">Forgot Password?</a></p>
    </div>
  </div>

  </div>
</div>
</div>
{% endblock %}
