{% extends "layout.html" %}


{% block content %}
<div class="wrap">
   <div id="reset_request">

    <h2>Reset your password</h2>
    <p class="reset-text">Enter your user account's verified email address and we will send you a password reset link.</p>
     <form  method="Post" action="" autocomplete="off">
       {{ form.hidden_tag() }} 

      <div class="field-wrap">
       
        {{form.email.label(class="req")}}

        {% if form.email.errors %}
          {{form.email(class="validate invalid")}}
            {% for  error in form.email.errors %}                
                <span class="helper-text" data-error="{{error}}" ></span>
              {% endfor %}            
          {% else %}
          {{form.email(class="validate", type="email")}}
          <span class="helper-text" data-error="Invalid email addres" ></span>
        {% endif %}              
      </div>      
        <div class="field-wrap add-margin">
          {{form.submit(class="button button-block")}}
          
        </div>
    
 
    </form>


     

  
</div>
<div class="reset-back">
  <p class="small"><a class="" href="{{url_for('users.login')}}"><i class="material-icons">arrow_back</i>Go Back</a></p>
</div>

</div>
{% endblock %}
